<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #AECD8B !important;">
    <a class="navbar-brand" href="#">AdminHeader(debug)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('create_ad') }}">Add New Ad</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('list_waiting_ads') }}">Waiting Ads</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" href="{{ path('app_logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>