<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% if is_granted('ROLE_ADMIN') %}
            {% include 'common/adminHeader.html.twig' %}
        {% elseif is_granted('ROLE_USER') %}
            {% include 'common/userHeader.html.twig' %}
        {% else %}
            {% include 'common/notLoggedHeader.html.twig' %}
        {% endif %}


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
